# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# API key files
dgs-*.txt

# Airflow
airflow.db
airflow.cfg
logs/

# OS
.DS_Store
